@import "../../styles/fonts";
@import "../../styles/variables";
@import "../../styles/mixin";
@import "../../styles/resetStyles";

  .h5_tablet {
    text-align: center;
    font-size: calc(10px + 25 * (100vw / 1400));
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    color: #172c49;
    margin-bottom: 30px;
  }
  .mainBlockReview{
    background-image: url(../../../public/images/bground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .blockReview{
    width: 100%;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 80px;
    height: auto;
    margin: 130px auto 0px auto;
    position: relative;
    background: rgba(255, 255, 255, 0.6);
    
  }
  .Testimonials {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    width: 75%;
    @include center;
    &::-webkit-scrollbar {
      display: none;
    }
    @media (max-width: 480px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
     width: 100%;
    }
    
  }
  .Testimonial {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid rgb(255, 196, 247);
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin: 0 15px 0 15px;
    @media (max-width: 1060px) {
      width: 220px;
    }
  }
  .userImg{
    width: 30px;
    height: 30px;
  }

  .progress_bar {
    margin-top: 21px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 8px;
    width: 599px;
    background: #f5f7f6;
    border-radius: 5px;
    border: 0.5px solid #e0d8f0;
    @media (max-width: 480px) {
      width: 300px;
    }
  }
  .progress_bar span {
    display: inline-block;
    position: absolute;
    height: 6px;
    width: 115.1px;
    border-radius: 5px;
    background-color: rgb(255, 196, 247);
  }
  .top_feed {
    display: flex;
    margin-left: 16px;
    margin-top: 15px;
  }
  .h7 {
    color: rgba(0, 0, 0, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
  .text_feed {
    color: #bdbdbd;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
  }
  .head_feed {
    margin-left: 10px;
  }
  .text {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: calc(10px + 5 * (100vw / 1400));
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    font-family: "Roboto", sans-serif;
    color: rgba(118, 116, 116, 1);
    word-break: break-all;
    
  }

  .feedback {
    width: max-content;
    margin-top: 30px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    border-radius: 73px;
    background-color: var(--button-bg-color);
    font-size: calc(15px + 3 * (100vw / 1400));
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0px;
  }
  .feedback:hover {
    background-color: rgb(186, 159, 176);
  }
  .feedback:active {
    background-color: rgb(190, 105, 159);
  }



