@import "../../styles/variables";
@import "../../styles/mixin";

.profile {
  display: grid;
  grid-template-columns: minmax(250px, 340px) minmax(0, 1fr);
  gap: 22px;
  align-items: start;

  @include respond(md) {
    grid-template-columns: 1fr;
  }
}
