.container, .photo, .contacts, .social_net {
    margin-left: auto;
    margin-right: auto;
  }
  
  * {
    margin: 0;
    padding: 0;
    color: black;
  }
  
  body {
    position: relative;
    padding-top: 10px;
    background-image: url(./img/sovremennie-tekhnologii-krasivie-10.jpg);
    background-size: cover;
  }
  
  .container {
    filter: drop-shadow(0px 4px 4px #a9a9a9);
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100% 10%;
    grid-template-areas: "one  two"
   "three three";
    position: relative;
  }
  
  .header {
    grid-area: one;
    background-color: #26272d;
    position: relative;
  }
  
  .main {
    position: relative;
    grid-area: two;
    background-color: #fff;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .photo {
    width: 170px;
    margin-top: 5%;
    display: block;
    filter: drop-shadow(0px 5px 5px #727272);
  }
  
  .contacts {
    width: 170px;
    margin-top: 5%;
  }
  
  .contact {
    color: #fff;
  }
  
  a, p {
    font-size: 12px;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
  }
  
  .svg {
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
  
  .line {
    background-color: white;
    border-radius: 0px;
    height: 3px;
    width: 70px;
  }
  
  h3 {
    color: #fff;
    padding-left: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 1px;
  }
  
  h6 {
    color: #fff;
  }
  
  .sup-title {
    color: black;
  }
  
  .h_header {
    padding-left: 15px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 1px;
  }
  
  .my-code {
    position: relative;
    display: flex;
  }
  
  .projects-school {
    width: 90%;
    position: absolute;
    bottom: 15px;
  }
  
  .projects {
    display: flex;
    justify-content: space-around;
  }
  
  .project {
    font-size: 20px;
  }
  
  .school {
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 1px;
  }
  
  .footer {
    grid-area: three;
    height: 30px;
    background-color: #c7ac00;
  }
  
  .hard-skill {
    margin-bottom: 5%;
  }
  
  .social_net {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icons {
    width: 40px;
    height: 28px;
  }