@import "../../styles/fonts";
@import "../../styles/variables";
@import "../../styles/mixin";
@import "../../styles/resetStyles";

.blockSign {
  width: 650px;
  padding-top: 10%;
  padding-bottom: 10px;
  position: relative;
  @include center;
  display: none;
}
.openMenu {
  display: block;
}
.container_sign {
  width: 100%;
  height: auto;
  padding: 40px;
  background: linear-gradient(177.09deg, #ffffff 6.15%, #9fc3e6 202.69%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

h1 {
  color: #0d606f;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  margin-top: 24.8px;
}

.facebook_link {
  margin-top: 30px;
  width: 560px;
  height: 56px;
  background: #748db4;
  box-shadow:
    0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  position: relative;
  @include center;
}

.facebook_svg {
  width: 23px;
  height: 22.86px;
  margin-left: 164.1px;
  margin-top: 16px;
}

.text_facebook {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  position: absolute;
  top: 14px;
  left: 202px;
}

.google_link {
  margin-top: 20px;
  width: 560px;
  height: 56px;
  background: #fff;
  box-shadow:
    0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  position: relative;
  @include center;
}

.google_svg {
  height: 24px;
  width: 24px;
  margin-left: 173.4px;
  margin-top: 15.7px;
}

.text_google {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  color: #0d606f;
  position: absolute;
  top: 15px;
  left: 212px;
}
.lines {
  display: flex;
  width: 567px;
  height: 24px;
  align-items: center;
  justify-content: space-around;
  margin-top: 29px;
  @include center;
}
.line {
  width: 261px;
  height: 0px;
  border: 1px solid rgba(13, 96, 111, 0.5);
}

.some_text {
  margin: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(13, 96, 111, 0.5);
}
.sign {
  width: 560px;
  margin-top: 10px;
  @include center;
}
.sgn_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0d606f;
  margin-left: 0.5px;
  margin-top: 0.5px;
}
.email,
.password {
  width: 560px;
  height: 54px;
  background: #ffffff;
  box-shadow:
    inset 0px 0px 3px rgba(13, 96, 111, 0.08),
    inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
}
.email {
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 20px;
}
.password {
  margin-top: 5px;
  padding-left: 20px;
}
.submit {
  width: 560px;
  height: 54px;
  background: #748db4;
  box-shadow:
    0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 25px;
  border: none;
}
.forgot_psw {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #0d606f;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  display: block;
  text-align: center;
  margin-top: 10px;
}

.regis {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: rgba(13, 96, 111, 0.5);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  margin-top: 22px;
}
.regis_link {
  color: #0d606f;
  margin-left: 2px;
  font-weight: 800;
}
