@import "fonts";
@import "mixin";
@import "resetStyles";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "SinaNova";
  transition: 0.4s;
}
.container {
  @media (min-width: 1440px) {
    max-width: 1440px;
    @include center;
  }
}
.app_wrapper_name {
  padding: 5rem 0 0 10rem;
}
