@import "fonts";
@import "mixin";
@import "resetStyles";

* {
  scroll-behavior: smooth;
  font-family: "SinaNova";
  transition: 0.4s;
}
.container {
  display: flex;
  gap: 10px;

}

.app_wrapper {
  @media (min-width: 1440px) {
    width: 100%;
    max-width: 1440px;
    @include center;
  }
}