@import "../../styles/fonts";
@import "../../styles/variables";
@import "../../styles/mixin";
@import "../../styles/resetStyles";

main {
  width: 100%;
  position: relative;
  max-width: var(--section-max-width);
  @include center;
  @media (max-width: 1100px) {
    max-width: 1000px;
    padding-bottom: 50px;
  }
  @media (max-width: 480px) {
    max-width: 480px;
  }
}

.section {
  position: relative;
  width: 100%;
  height: 400px;
  max-width: var(--section-max-width);
  @include center;
  @include paddingTandB;
  padding-top: 100px;
  margin-top: 15px;
  @media (max-width: 480px) {
    padding-top: 55px;
    height: 235px;
  }
}

.bgroung {
  position: absolute;
  width: 28%;
  top: 138px;
  right: 106px;
  height: 256px;
  background: url(../../images/airplane.jpg) no-repeat center center / cover;
  filter: drop-shadow(0px 3px 3px #727272);
  border-bottom-left-radius: 49px;
  border-top-right-radius: 49px;
  @media (max-width: 1000px) {
    width: 30%;
    top: 100px;
    right: 5px;
    height: 45%;
  }
  @media (max-width: 700px) {
    display: none;
  }
}

.underSect {
  width: 100%;

  .blockOne {
    width: 80%;
    @media (max-width: 700px) {
      @include center;
    }
  }

  .titleWelcome {
    color: var(--primary-color);
    margin-top: 20px;
    display: block;
    width: max-content;
    @include center;
    font-size: calc(16px + 10 * (100vw / 1400));
    font-weight: 400;
    line-height: 126%;
  }

  .welcomeText {
    color: var(--primary-color);
    @include main-text;
    font-family: "Mak";
    text-align: center;
    margin-bottom: 2px;
    font-size: calc(18px + 30 * (100vw / 1400));
  }
  h2 {
    text-align: center;
  }
  .brH2 {
    display: none;
    @media (max-width: 380px) {
      display: block;
    }
  }
  .subTitle {
    color: var(--primary-color);
    margin-top: 18px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 190%;
    text-align: center;
    @media (max-width: 380px) {
      font-size: 15px;
    }
  }

  .buttonTestLesson {
    width: max-content;
    margin-top: 30px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    border-radius: 73px;
    background-color: var(--button-bg-color);
    font-size: calc(15px + 3 * (100vw / 1400));
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;

    @media (max-width: 1100px) {
      padding: 7px;
    }
  }

  .buttonTestLesson:hover {
    text-decoration: none;
    background-color: var(--button-hover-bg-color);
    color: rgb(255, 255, 255);
  }

  .photo {
    width: 290px;
    height: auto;
    margin-left: -50px;
  }
}

.privilege {
  margin-top: 100px;
  width: 50%;
  display: flex;
  @include center;
  justify-content: space-between;
  @media (max-width: 1135px) {
    width: 60%;
  }
  @media (max-width: 480px) {
    width: 70%;
  }

  figure {
    flex: 1;
    img {
      width: 50px;
      height: 50px;
      @include center;
      @media (max-width: 480px) {
        width: 40px;
        height: 40px;
      }
    }

    figcaption {
      text-align: center;
      font-size: calc(10px + 3 * (100vw / 1400));
    }
  }
}

.lineSeperating {
  display: block;
  margin: 20px 0 20px 0;
  width: 80%;
  @include center;
  height: 4px;
  border-radius: 5px;
  background: linear-gradient(to right, #9fb2ff, #97d3ff);
  @media (max-width: 480px) {
    height: 1.5px;
  }
}

.containerSectionSecond {
  padding-top: 36px;
  background: linear-gradient(to right, #ffedff, #fdffbb);
  padding-bottom: 50px;
  margin-top: 73px;
  @media (max-width: 1000px) {
    max-width: 90%;
    @include center;
  }
}

.title-courses {
  margin-bottom: 36px;
  color: var(--primary-color);
  font-size: calc(15px + 25 * (100vw / 1400));
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  @include center;
  text-align: center;
  width: 75%;
  padding-left: 10px;
  border-radius: 2px;
}

.sectionSecond {
  width: 1000px;
  @include center;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1100px) {
    width: 100%;
    justify-content: space-around;
  }

  @media (max-width: 700px) {
    flex-direction: column;
    width: 90%;
  }
}

.course {
  background: rgb(255, 255, 255);
  height: 330px;
  width: 268px;
  background: linear-gradient(#afd9fa, #f79fd9);
  filter: drop-shadow(0px 0.5px 0.5px #000000);
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 1100px) {
    width: 240px;
    height: 300px;
    filter: none;
    position: relative;
  }

  @media (max-width: 700px) {
    width: 75%;
    height: 200px;
    @include center;
  }
  @media (max-width: 480px) {
    height: 210px;
  }
}

.courceUpper,
.courceElementary {
  background: linear-gradient(#f9e79b, #f79fd9);
}

.top_feed {
  display: flex;
  padding: 10px 15px 10px 15px;

  @media (max-width: 1000) {
    padding: 5px 10px 5px 10px;
  }
  @media (max-width: 640px) {
    padding: 10px 0 5px 10px;
    height: 51.5px;
  }
}

img {
  width: 30px;
  height: 30px;
}

.h7 {
  color: #ffffff;
  font-weight: 400;
  font-size: calc(12px + 6 * (100vw / 1400));

  line-height: 120%;
}

.text_feed {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: calc(10px + 5 * (100vw / 1400));
  line-height: 120%;
}

.head_feed {
  text-align: center;
  @include center;
}

.container_text {
  padding: 9px 32px 0px 32px;
  @media (max-width: 1000px) {
    padding: 5px 25px 0px 25px;
  }
  @media (max-width: 480px) {
    padding: 9px 5px 0px 5px;
  }
}

.text {
  @include center;
  font-size: calc(8px + 7 * (100vw / 1400));

  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  @media (max-width: 390px) {
    font-weight: 500;
    line-height: 14px;
    word-spacing: 1px;
  }
}

.containerMore {
  position: absolute;
  bottom: 11px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: #172c49 solid 1.5px;
  border-radius: 25px;
  width: 186px;
  padding: 2px 0px 2px 0px;
  @media (max-width: 700px) {
    bottom: 0px;
    width: 130px;
  }
  @media (max-width: 480px) {
    width: 100px;
    border: #172c49 solid 1px;
  }
  img {
    @include center;
  }
}

.containerMore:hover {
  filter: drop-shadow(0px 1px 1px #727272);
}

.aboutMe {
  margin-top: 100px;
  margin-bottom: -30px;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  color: var(--primary-color);
  font-size: calc(28px + 10 * (100vw / 1400));
}

.blockRegister {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -100;
}

.openMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 1;
  background-color: #fff;
  width: 60%;
  transform: translate(-50%, -50%);
  z-index: 444;
  transition: 1s;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 20px;
}

.containerSignLesson {
  z-index: 1500;
  width: 100%;
  height: auto;
  padding: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.lines {
  display: flex;
  width: 567px;
  height: 24px;
  align-items: center;
  justify-content: space-around;
  margin-top: 29px;
  @include center;
  @media (max-width: 480px) {
    width: 480px;
  }
}

.line {
  width: 261px;
  height: 0px;
  border: 1px solid rgba(13, 96, 111, 0.5);
}

.some_text {
  margin: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(13, 96, 111, 0.5);
}

.sign {
  width: 560px;
  margin-top: 10px;
  @include center;
  @media (max-width: 700px) {
    width: 80%;
  }
}

.sgn_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0d606f;
  text-align: center;
}

.email,
.password {
  width: 560px;
  height: 54px;
  background: #ffffff;
  box-shadow:
    inset 0px 0px 3px rgba(13, 96, 111, 0.08),
    inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
}

.email {
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.password {
  margin-top: 5px;
  padding-left: 20px;
}

.submit {
  width: 100%;
  height: 54px;
  background-color: var(--button-bg-color);
  box-shadow:
    0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 25px;
  border: none;
}

.cross {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 15px;
  right: 15px;
  transform: rotate(316deg);
}

.horizontal-line,
.vertical-line {
  position: absolute;
  background-color: black;
}

.horizontal-line {
  width: 100%;
  height: 2px;
  top: 38%;
}

.vertical-line {
  width: 2px;
  height: 100%;
  left: 45%;
}
