@import "../../styles/fonts";
@import "../../styles/variables";
@import "../../styles/mixin";
@import "../../styles/resetStyles";

.lastSection {
  @include paddingTandB;

  .blockAboutMe {
    display: flex;
    @include paddingTandB;
    width: 75%;
    @include center;
    color: black;
    @media (max-width: 480px) {
      width: 100%;
    }
  }
  .imgAboutme {
    width: 200px;
    height: 200px;
    border-radius: 60px;
    background-color: rgb(250, 235, 241);
    @media (max-width: 480px) {
      width: 150px;
      height: 150px;
    }
  }

  .rightBlockResume {
    margin-left: 50px;
    white-space: pre-wrap;
    width: 700px;
    @media (max-width: 480px) {
      width: auto;
      margin-left: 20px;
    }
  }
  .textName {
    color: var(--text-primary, #181b32);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    @media (max-width: 480px) {
      font-size: calc(23px + 13 * (100vw / 1400));
    }
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-weight: 500;
    word-wrap: break-word;
    font-size: calc(10px + 10 * (100vw / 1400));
  }
  .experience {
    margin-top: 10px;
  }
}
