@font-face {
    font-family: "Mak";  
    src: url("../fonts/MAK.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }
     @font-face {
      font-family: "Montserrat" , sans-serif;  
      src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype"); 
      font-style: normal; 
      font-weight: normal;
     }
     @font-face {
        font-family: "SinaNova";  
        src: url("../fonts/SinaNova.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal;
       }