:root {
    --primary-color: #172c49;
    --button-bg-color: #748db4;
    --button-hover-bg-color: #336b87;
    --section-max-width: 1440px;
    --font-scale: calc(14px + 16 * (100vw / 1400));
    --font-family: "Mak";
  }