@import 'fonts';
@import 'variables';
@import 'mixin';
@import 'resetStyles';



        
        
        
@media only screen and (min-width:1001px) {     
footer {
  flex: 0 0 auto;
  margin-top: 100px;
    width: 100%;
    background-color:#91BFCC;
    padding: 20px;
    .block-socmedia{
      display: flex;
      justify-content:space-between;
      max-width: 1440px;
      @include center;
      height: 100%;
      align-items: center;
      height: 70px;
    }
    .soc-media{
      width: 100px;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items:center;
    }
    .icon{
      width: 50px;
    }
  }
}