@import "fonts";
@import "variables";
@import "mixin";
@import "resetStyles";

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "SinaNova";
    transition: 0.4s;

  }

  body {
    position: relative;
    height: auto;
    @media (max-width: 1000px) {
      width: 1000px;
      min-width: 100%;
    }
    @media (max-width: 480px) {
      width: 480px;
    }
  }
  .app_wrapper_name{
    @media (max-width: 1000px) {
      width: 1000px;
      min-width: 100%;
      @include center;
    }
    @media (max-width: 480px) {
      width: 480px;
    }
    
  }
  #root{
    @media (max-width: 1000px) {
      width: 1000px;
      min-width: 100%;
      @include center;
    }
    @media (max-width: 480px) {
      width: 480px;
    }
  }
  .container{
    @media (max-width: 1000px) {
      width: 1000px;
      min-width: 100%;
      @include center;
    }
    @media (max-width: 480px) {
      width: 480px;
    }
  }

