.topSection {
  display: flex;
  gap: 10px;
}
.button {
  padding: 10px;
  border-radius: 5rem;
  font-size: calc(8px + 10 * (100vw / 1400));
  color: #fff;
  background-color: #748db4;
  border: none;
}
.button:hover {
  background-color: #336b87;
}
.textArea {
  padding: 10px;
  display: flex;
  border-radius: 73px;
  font-size: calc(8px + 10 * (100vw / 1400));
  border: solid 1px #2491e0;
}
.students {
  background: rgba(255, 255, 255, 0.6);
  color: #336b87;
  padding: 30px 0 30px 0;
  display: flex;
  gap: 10px;
}
