@charset "UTF-8";
@font-face {
  font-family: "Mak";
  src: url("../fonts/MAK.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media only screen and (min-width: 1001px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
  }
  .title-cources,
  h1,
  .welcomeText {
    color: #48808f;
  }
  body {
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  header {
    width: 100%;
  }
  .block-header {
    background: #91bfcc;
    -webkit-box-shadow: 0px 3px 3px rgba(83, 167, 216, 0.5);
    box-shadow: 0px 3px 3px rgba(83, 167, 216, 0.5);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    padding: 0px 30px 0px 30px;
  }
  .block-header .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .block-header h1 {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-right: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .block-header .navHeader {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .block-header .navHeader .links {
    width: 60%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
  }
  .block-header .navHeader .links a {
    color: black;
  }
  .block-header .rightLinks {
    width: 148px;
    height: 40px;
    padding: 5px;
    border-radius: 73px;
    background: #48808f;
  }
  .block-header .signIn {
    cursor: pointer;
    text-align: center;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }
  .section {
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .underSect {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .underSect .titleWelcome {
    color: #91bfcc;
    margin-top: 40px;
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 126%;
  }
  .underSect .titleWelcome .welcomeText {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 126%;
    font-family: "Mak";
    text-align: center;
    margin-bottom: 5px;
    font-family: "Mak";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 126%;
  }
  .underSect .subTitle {
    color: #48808f;
    margin-top: 18px;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 190%;
    text-align: center;
  }
  .underSect .buttonTestLesson {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-top: 30px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    border-radius: 73px;
    background: #48808f;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .underSect .buttonTestLesson:hover {
    text-decoration: none;
    background-color: rgb(186, 159, 176);
    color: rgb(255, 255, 255);
  }
  .underSect .photo {
    width: 290px;
    height: auto;
    margin-left: -50px;
  }
  main {
    margin-top: 30px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
  }
  .title-cources {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
  }
  .sectionSecond {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
  }
  .cource {
    background: rgba(230, 230, 250, 0.5);
    height: 391px;
    width: 268px;
    border-radius: 50px;
    border: 2px solid rgb(255, 196, 247);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .top_feed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 16px;
    margin-top: 15px;
  }
  .h7 {
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
  .text_feed {
    color: #bdbdbd;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
  }
  .head_feed {
    margin-left: 10px;
  }
  .text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 309px;
    width: 237px;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    font-family: "Roboto", sans-serif;
    color: rgb(118, 116, 116);
  }
  .lastSection {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .lastSection .aboutMe {
    margin: 50px 0 0 100px;
    color: var(--text-primary, #181b32);
    font-size: 38px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
  }
  .lastSection .blockAboutMe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .lastSection .blockAboutMe .imgAboutme {
    width: 200px;
    height: 200px;
    border-radius: 60px;
    background-color: rgb(250, 235, 241);
  }
  .lastSection .blockAboutMe .rightBlockResume {
    margin-left: 70px;
  }
  .lastSection .blockAboutMe .textName {
    color: var(--text-primary, #181b32);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .lastSection .blockAboutMe .skills {
    font-style: 27px;
    font-weight: 500;
  }
  footer {
    margin-top: 100px;
    width: 100%;
    background-color: #91bfcc;
    padding: 20px;
  }
  footer .block-socmedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70px;
  }
  footer .soc-media {
    width: 100px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer .icon {
    width: 50px;
  }
}
